 <style>
   .countdofif {
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 6px;
    background: #ff6803;
    padding: 0 3px;
    border-radius: 6px;
    font-weight: 600;
}
 </style>
    <div class="countdofif" id="countdofif">
        <!-- <span class="days">00</span> -->
        <!-- <span class="hours">00</span> -->
        <span class="minutes">00</span>
        <span class="seconds">00</span> <span>left</span>
    </div>

    <script>
        const fifteenMinutes = 15 * 60 * 1000; // 15 minutes in milliseconds
        const targetDate = new Date().getTime() + fifteenMinutes;

        // Update the countdofif every 1 second
        const countdofifInterval = setInterval(updatecountdofif, 1000);
      function updatecountdofif() {
        const currentDate = new Date().getTime();
        const timeRemaining = targetDate - currentDate;
        if (timeRemaining <= 0) {
        clearInterval(countdofifInterval);
        document.getElementById('countdofif').innerHTML = 'Offer has ended';
        return;
    }
        const minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
        document.querySelector('.minutes').innerText = formatTimeUnit(minutes) + 'm';
        document.querySelector('.seconds').innerText = formatTimeUnit(seconds) + 's';
}
function formatTimeUnit(unit) {
    return unit < 10 ? `0${unit}` : unit;
}
updatecountdofif();
    </script>