<div id="timer-fifteen" style="display:none">Deal ends in: <br>
  <span class="dotd-timer" id="minutess">00</span>m
  <span class="dotd-timer" id="secondss">00</span>s
  <span class="dotd-timer" id="millisecondss">000</span>ms
</div>
<script>
  $(document).ready(function() {
    function updateTimer() {
      var currentTime = new Date();
      var targetStartTime = new Date();
      targetStartTime.setHours(15, 33, 0, 0);
      var targetEndTime = new Date();
      targetEndTime.setHours(15, 50, 0, 0);

      if (currentTime >= targetStartTime && currentTime <= targetEndTime) {
        $("#timer-fifteen").show();
        var timeDifference = targetEndTime - currentTime;

        if (timeDifference <= 0) { // Timer has ended
          $("#minutess").text("00");
          $("#secondss").text("00");
          $("#millisecondss").text("000");
        } else {
          var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);
          var milliseconds = timeDifference % 1000;

          $("#minutess").text(minutes.toString().padStart(2, '0'));
          $("#secondss").text(seconds.toString().padStart(2, '0'));
          $("#millisecondss").text(milliseconds.toString().padStart(3, '0'));
        }
      } else {
        $("#timer-fifteen").hide();
      }
    }

    setInterval(updateTimer, 100);
  });
</script>
