<style>
  .rzp-4 {
    max-width: 100%;
    width: 1350px;
    margin: 0 auto;
    background-color: #b0e9ee;
    margin-top: 21px;
    padding-bottom: 19px;
    text-align: center;
  }
  .rzp-4 h2 {
    font-size: 25px;
    font-family: roboto, sans-serif;
    font-size: 25px;
    font-family: roboto, sans-serif;
    margin-bottom: 0;
    padding: 9px 0;
    font-weight: 600;
    text-transform: uppercase;
  }
  .zp {
    position: relative;
    margin: 48px 5px 13px;
    border-radius: 20px;
    box-shadow: 2px 6px 8px 0 #00000059;
    min-height: 200px;
  }
  .rzp-slider-5 {
    margin-top: -10px;
}
  .rzp-slider-child-1 {
    background-color: #EDE532;
  }
  .rzp-slider-child-2 {
    background-color: #00BED6;
  }
  .rzp-slider-child-3 {
    background-color: #66DC7A;
  }
  .slider-cont h2 {
    font-size: 16px!important;
    text-transform: none!important;
    letter-spacing: -0.5px!important;
    line-height: 21px!important;
  }
  .slider-cont ul li {
    text-align: center;
    font-size: 13px;
}
  .imgg img {
    margin: -49px auto 0;
}
</style>
<div class="rzp-4">
  <h2>the big rewards<sup>*</sup></h2>
  <div class="rzp-slider-5">
    <div class="rzp-slider-child-2 zp">
      <div class="imgg">
        <h2> <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/image_1_1.png?v=1692264812" loading="lazy" style="width:100px; height:auto"></h2>
      </div>
      <div class="slider-cont">
        <h2>TOP 10 TO FEATURE ON <br>THE BARBERSHOP WITH SHANTANU</h2>
        <ul>
          <li>Guaranteed seed funding of up to ₹20 lakhs</li>
          <li>Chance to pitch for additional ₹1 crore funding</li>
        </ul>
      </div>
    </div>
    <div class="rzp-slider-child-3 zp">
      <div class="imgg">
        <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Group_40.png?v=1692264812" style="width:100px; height:auto"></h2>
      </div>
      <div class="slider-cont">
        <h2>AWESOME CASH REWARDS</h2>
        <ul>
          <li>₹2 lakhs for the top Razorpreneur</li>
          <li>₹1 lakh each across multiple categories</li>
        </ul>
      </div>
    </div>
    <div class="rzp-slider-child-1 zp">
      <div class="imgg">
        <h2><img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Group_38_1.png?v=1692264812" style="width:100px; height:auto"></h2>
      </div>
      <div class="slider-cont">
        <h2>MENTORSHIP <br>FROM TOP CEOs</h2>
        <ul>
          <li>Exclusive one-on-one mentorship</li>
          <li>Internship at Bombay Shaving Company</li>
        </ul>
      </div>
    </div>
  </div>
  <p style="text-align:right; margin-right:10px"><sup>*</sup>T&C Apply</p>
</div>
<script>
  $('.rzp-slider-5').slick({
  centerMode: true,
  arrows: false,
  slidesToShow: 3,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }, {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '30px',
        slidesToShow: 1
      }
    }
  ]
});
</script>