<div id="countdown">
        <span class="countdown-element" id="days">0d</span>
        <span class="countdown-element" id="hours">0h</span>
        <span class="countdown-element" id="minutes">0m</span>
        <span class="countdown-element" id="seconds">0s</span>
    </div>

    <script>
        // Set the target date and time (October 15, 2023, 12:00 PM)
        var targetDate = new Date("October 15, 2023 12:00:00").getTime();

        // Update the countdown every 1 second
        var timer = setInterval(function() {
            var currentDate = new Date().getTime();
            var timeRemaining = targetDate - currentDate;

            // Calculate days, hours, minutes, and seconds
            var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

            // Update the content of the span elements
            document.getElementById("days").innerHTML = days + "d";
            document.getElementById("hours").innerHTML = hours + "h";
            document.getElementById("minutes").innerHTML = minutes + "m";
            document.getElementById("seconds").innerHTML = seconds + "s";

            // If the countdown is over, display a message
            if (timeRemaining <= 0) {
                clearInterval(timer);
                document.getElementById("countdown").innerHTML = "Timer expired! It's now October 15, 2023, 12:00 PM.";
            }
        }, 1000); // Update every 1 second
    </script>