<style>
    div#countdown-rzp {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    color: #000;
}
.countdown-element {
    padding: 7px;
    border: 1px solid #f9c714;
    border-radius: 5px;
    position: relative;
    margin-left: 16px;
}
span#d-ays::after, span#h-ours::after {
    position: absolute;
    content: ":";
    top: -10px;
    right: -28px;}
span#s-econds {
    font-size: 40px;
    font-weight: 500;
    margin-left: 0px;
}
@media(max-width:450px) {
span#s-econds{font-size:20px}
.countdown-element{padding:4px;border:1px solid #f9c714;margin-left:5px}
  span#d-ays::after, span#h-ours::after {top: -8px;right: -15px;}
  div#countdown-rzp {font-size: 40px;}
}
</style>
<div id="countdown-rzp">
        <span class="countdown-element" id="d-ays">0d</span>
        <span class="countdown-element" id="h-ours">0h</span>
        <span class="countdown-element" id="m-inutes">0m</span>
        <span class="countdown-element" id="s-econds">0s</span>
    </div>

    <script>
        // Set the target date and time (October 15, 2023, 12:00 PM)
        var targetDate = new Date("October 15, 2023 23:59:59").getTime();

        // Update the countdown every 1 second
        var timer = setInterval(function() {
            var currentDate = new Date().getTime();
            var timeRemaining = targetDate - currentDate;

            // Calculate days, hours, minutes, and seconds
            var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

            // Update the content of the span elements
            document.getElementById("d-ays").innerHTML = days + "d";
            document.getElementById("h-ours").innerHTML = hours + "h";
            document.getElementById("m-inutes").innerHTML = minutes + "m";
            document.getElementById("s-econds").innerHTML = seconds + "s";

            // If the countdown is over, display a message
            if (timeRemaining <= 0) {
                clearInterval(timer);
                document.getElementById("countdown-rzp").innerHTML = "Timer expired! It's now October 15, 2023, 12:00 PM.";
            }
        }, 1000); // Update every 1 second
    </script>