<style>
  .brb-main-banner {
    max-width: 100%;
    width: 700px;
    margin: 10px auto;
  }
  span.hundered {
    font-weight: 700;
  }
  .brb-main-banner h3 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
  }
  @media(max-width:450px) {
    .brb-main-banner {
      padding: 0 10px 10px
    }
  }
</style>
<div class="brb-main-banner">
  <h2>
    <img src="https://cdn.shopify.com/s/files/1/0459/6563/9834/files/Group_55.png?v=1693595281" alt="barbershop with shantanu">
  </h2>
  <h3>10 people crossed the 100 razor mark in the last 24 hours <br>
    Buy More &
    <span class="hundered">Join The Hundredpreneur Club</span>
  </h3>
</div>
