<style>
.main-prod-section{font-family:roboto,sans-serif}
.main-prod h2{font-size:18px;font-weight:400;padding-bottom:10px}
.main-prod p{font-size:24px;font-weight:500;color:#000; margin:10px 0;line-height: 30px;}
.main-prod{text-align:center;color:#fff}
.prod-1-main{width:25%}
.css-only-prod{display:flex;justify-content:center}
.prod-metaa{max-width:100%;width:400px;text-align:center;padding-top:15px}
h2.prod-name{font-size:26px;font-weight:700;text-transform:uppercase;margin-bottom:0;position:relative}
p.pack{font-family:Roboto,sans-serif;text-align:center;margin-top:-9px;font-size:17px;font-weight:400;position:relative}
h2.prod-name::after{left:21%;position:absolute;content:"";width:193px;height:1px;background-color:#000;top:41px}
.price-flex{display:flex;justify-content:center;margin: 5px 0}
h2.cust-off{font-size:18px;font-weight:500;position:relative}
h2.cust-off::after{content:"";position:absolute;width:36px;height:2px;background:red;top:14px;right:-2.5%;transform:rotate(347deg)}
h2.cust-off.big::after{content:"";position:absolute;width:52px;height:2px;background:red;top:14px;right:-5.5%;transform:rotate(347deg)}
h2.mrp{font-size:18px;font-weight:800;margin-top:0;margin-left:14px;margin-bottom:0}
h2.freebie{text-align:center;font-size:20px;font-weight:500;font-family:Roboto,sans-serif;padding-bottom:10px}
.button-prod{padding-bottom:1px}
button#ad_to_cart\ rzp{width:230px;padding:15px;border-radius:47px;margin:0 auto 24px;background:#000;box-shadow:none}
button#ad_to_cart\ rzp:hover{background:#1b62c9!important}
.prod-1 {max-width: 100%;margin: 16px 18px 30px;border-radius: 10px;}
.yellow{background-color:#FFD26B}
.green{background-color:#B2FFBF}
.blue{background-color:#70F3FF}
.yelloww{background-color:#EDAE20}
.bluee{background-color:#00B7C8}
.greenn{background-color:#2EB445}
  .light-r{background-color:#70FFA9}
h2.per-razor {padding: 8px 5px; border-radius: 3px;font-size: 18px;width: 285px;text-align: center;margin: 0 auto 9px;font-weight: 600;font-family: Roboto, sans-serif;margin-top:-12px;}
@media(max-width:450px) {
.css-only-prod{flex-direction:column}
  .main-prod p{font-size:17px;line-height: 21px;}
.prod-1-main{width:100%}
.prod-metaa{width:317px;margin:0 auto}
.prod-1 {margin: 10px 10px 20px;}
}
</style>
<div class="main-prod-section" id="show-jq" style="display:block">
   <div class="main-prod">
      <p>Buy any of the below Sensi Smart3 razor packs. <br>The more you buy the more you win!</p>
   </div>
   <div class="css-only-prod">
      <div class="prod-1-main">
         <div class="prod-1 green">
            <div class="prod-metaa">
               <h2 class="prod-name">Rookie - Pack of 10</h2>
               <div class="price-flex">
                  <h2 class="cust-off">You Pay 990</h2>
                  <h2 class="mrp">₹792</h2>
               </div>
               <h2 class="per-razor greenn">Your Margin: <span class="rupee">₹</span>20 /Razor</h2>
               <h2 class="freebie">Freebie worth Rs. 300</h2>
            </div>
            <div class="button-prod">
               <button onclick="completeStep(2)" type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary rzp-buttonn" id="ad_to_cart rzp" aria-haspopup="dialog" data-add-to-cart="43827998621850" data-var_id="43827998621850" data-action="open-drawer" data-drawer-id="sidebar-cart">
               <span>Buy Now</span>
               </button>
            </div>
         </div>
      </div>
      <div class="prod-1-main">
         <div class="prod-1 yellow">
            <div class="prod-metaa">
               <h2 class="prod-name">Stud - Pack of 25</h2>
               <div class="price-flex">
                  <h2 class="cust-off big">You Pay 2475</h2>
                  <h2 class="mrp">₹1856</h2>
               </div>
               <h2 class="per-razor yelloww">Your Margin: <span class="rupee">₹</span>25 /Razor</h2>
               <h2 class="freebie">Freebie worth Rs. 300</h2>
            </div>
            <div class="button-prod">
               <button onclick="completeStep(2)" type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary rzp-buttonn" id="ad_to_cart rzp" aria-haspopup="dialog" data-add-to-cart="43854207352986" data-var_id="43854207352986" data-action="open-drawer" data-drawer-id="sidebar-cart">
               <span>Buy Now</span>
               </button>
            </div>
         </div>
      </div>
      <div class="prod-1-main">
         <div class="prod-1 blue">
            <div class="prod-metaa">
               <h2 class="prod-name">PRO - Pack of 50</h2>
               <div class="price-flex">
                  <h2 class="cust-off big">You Pay 4950</h2>
                  <h2 class="mrp">₹3465</h2>
               </div>
               <h2 class="per-razor bluee">Your Margin: <span class="rupee">₹</span>30/Razor</h2>
               <h2 class="freebie">Freebie worth Rs. 795</h2>
            </div>
            <div class="button-prod">
               <button onclick="completeStep(2)" type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary rzp-buttonn" id="ad_to_cart rzp" aria-haspopup="dialog"  data-add-to-cart="43854208172186" data-var_id="43854208172186" data-action="open-drawer" data-drawer-id="sidebar-cart">
               <span>Buy Now</span>
               </button>
            </div>
         </div>
      </div>
      <div class="prod-1-main">
         <div class="prod-1 light-r">
            <div class="prod-metaa">
               <h2 class="prod-name">MASTER - Pack of 100</h2>
               <div class="price-flex">
                  <h2 class="cust-off big">You Pay 9900</h2>
                  <h2 class="mrp">₹6237</h2>
               </div>
               <h2 class="per-razor" style="background-color:#00C844">Your Margin: <span class="rupee">₹</span>37/Razor</h2>
               <h2 class="freebie">Freebie worth Rs. 1995</h2>
            </div>
            <div class="button-prod">
                 <button onclick="completeStep(2)" type="submit" name="add" aria-label="Add to cart" class="ad_to_cart_coll Button Button--primary rzp-buttonn" id="ad_to_cart rzp" aria-haspopup="dialog" data-add-to-cart="43854394163354" data-var_id="43854394163354"data-action="open-drawer"data-drawer-id="sidebar-cart">
               <span>Buy Now</span>
               </button>
            </div>
         </div>
      </div>
   </div>
</div>