<style>
  .brand-sliderr {
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
  }
</style>
<div class="main-block">
  <h2 class="brand-h">{{ section.settings.logo-headingg }}</h2>
  <div class="brand-block">
    <div class="brand-slider">
      {% for block in section.blocks %}
        <div class="brand-sliderr brand-{{block.id}}">
          <h2><img
              src="{{ block.settings.logo_brand | img_url: 'master' }}"
              alt="brand logo"
              style="width: 100px; height:100px;"></h2>
          <p class="brand-discount">{{ block.settings.discount_desc }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  $('.brand-slider').slick({
    slidesToShow: 5,
    slidesToScroll:,
    autoplay: true,
    autoplaySpeed: 0,
    speed: 8000,
    cssEase: 'linear',
    responsive: [
      {
        breakpoint: 520,
        settings: {
          slidesToShow: 2
        }
      }
    ]
  });
</script>
{% schema %}
  {
    "name": "Brand offer slider",
    "settings": [
      {
        "type": "html",
        "id": "logo-headingg",
        "label": "Enter Section Heading"
      }
    ],
    "blocks": [
      {
        "name": "Brand Block",
        "type": "homepage",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_brand",
            "label": "Select brand logo"
          }, {
            "type": "text",
            "id": "discount_desc",
            "label": "Enter offer here"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand Slider Homepage",
        "category": "homepage"
      }
    ]
  }
{% endschema %}
