<style>
  .brand-sliderr {
    max-width: 100px;
    width: 100%;
    margin: 0 17px;
  }
  .brand-slider {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
  }
  h2.brand-h {
    text-align: center;
    font-size: 30px;
    margin-bottom: 4px;
    font-weight: 600;
  }
  p.brand-discount {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  @media(max-width:450px) {
    h2.brand-h {
      font-size: 20px
    }
    p.brand-discount {
      font-size: 12px;
    }
  }
</style>
<div class="main-block">
  <h2 class="brand-h">{{ section.settings.logo-headingg }}</h2>
  <div class="brand-block">
    <div class="brand-slider">
      {% for block in section.blocks %}
        <div class="brand-sliderr brand-{{block.id}}">
          <h2><img
              src="{{ block.settings.logo_brand | img_url: 'master' }}"
              alt="brand logo"
              style="width: 100px; height:100px;"></h2>
          <p class="brand-discount">{{ block.settings.discount_desc }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  // $('.brand-slider').slick({
// slidesToShow: 4,
// slidesToScroll: 1,
// autoplay: true,
// autoplaySpeed: 0,
// speed: 8000,
// pauseOnHover: false,
// cssEase: 'linear'
// });
  $(document).ready(function() {
    $('.brand-slider').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      speed: 3000,
      arrows: false,
      variableWidth: true,
      cssEase: 'linear',
      dots: false,
      pauseOnHover: true,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 3
          }
        }, {
          breakpoint: 520,
          settings: {
            slidesToShow: 2
          }
        }
      ]
    });
  });
</script>
{% schema %}
  {
    "name": "Brand offer slider",
    "settings": [
      {
        "type": "html",
        "id": "logo-headingg",
        "label": "Enter Section Heading"
      }
    ],
    "blocks": [
      {
        "name": "Brand Block",
        "type": "homepage",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_brand",
            "label": "Select brand logo"
          }, {
            "type": "text",
            "id": "discount_desc",
            "label": "Enter offer here"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand Slider Homepage",
        "category": "homepage"
      }
    ]
  }
{% endschema %}
