<style></style>
<div class="main-block">
  <h2 class="brand-h">{{ section.settings.logo-headingg }}</h2>
  <div class="brand-block">
    <div class="brand-slider">
      <div class="brand-slider brand-{{block.id}}">
        <h2><img
            src="{{ block.settings.logo_brand | img_url: 'master' }}"
            alt="brand logo"
            style="width: 100px; height:100px;"></h2>
        <p class="brand-discount">{{ block.settings.discount_desc }}</p>
      </div>
    </div>
  </div>
</div>
<script>
  $('.brand-slider').slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    responsive: [
      {
        breakpoint: 520,
        settings: {
          slidesToShow: 2
        }
      }
    ]
  });
</script>
{% schema %}
  {
    "name": "Brand offer slider",
    "settings": [
      {
        "type": "html",
        "id": "logo-headingg",
        "label": "Enter Section Heading"
      }
    ],
    "blocks": [
      {
        "name": "Brand Block",
        "type": "homepage",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo_brand",
            "label": "Select brand logo"
          }, {
            "type": "text",
            "id": "discount_desc",
            "label": "Enter offer here"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand Slider Homepage",
        "category": "homepage"
      }
    ]
  }
{% endschema %}
