<div class="compare-table">
  <div class="table-header-1">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="table-body">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Comparison Table",
    "settings": [],
    "presets":[
      {
        "name":"Comparison Table"
      }
    ]
  }
{% endschema %}