{% for block in section.blocks %}
  {% assign dotd-1 = all_products[block.settings.dotd_product-1]  %}
  {% assign dotd-1-variant = dotd-1.selected_or_first_available_variant %}
  {% assign dotd-2 = all_products[block.settings.dotd_product-2]  %}
  {% assign dotd-2-variant = dotd-2.selected_or_first_available_variant %}
  {% assign dotd-3 = all_products[block.settings.dotd_product-3]  %}
  {% assign dotd-3-variant = dotd-3.selected_or_first_available_variant %}
  <div class="dotd-container-prod">
    <div class="dotd-slider">
      <div class="dotd-1-product">
        <div class="dotd-1-img">
          <img src="{{ dotd-1.featured_image | img_url:'400x' }}" alt="{{ dotd-1.title }}">
        </div>
        <div class="dotd-meta meta-1">
          <h2>{{ dotd-1.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% schema %}
  {
    "name": "DOTD carausel",
    "settings": [
      {
        "type":"image_picker",
        "id":"DOTD_banner",
        "label":"Select DOTD Bbanner"
      }
    ],
    "blocks":[
      {
        "name":"Product Block",
        "type":"product",
        "settings":[
          {
            "type":"product",
            "id":"dotd_prod-1",
            "label":"Select the main product"
          },
          {
            "type":"product",
            "id":"dotd_prod-2",
            "label":"Select yesterday's product"
          },
          {
            "type":"product",
            "id":"dotd_prod-3",
            "label":"Select tomorrow product"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"DOTD carausel",
        "category":"product"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}