<div class="feat_video">
  <video class="video_inner" autoplay playsinline muted>
    <source src="{{ section.sectting.video_urll }}" type ="video/mp4">
  </video>
</div>
{% schema %}
  {
    "name": "Featured VIDEO",
    "settings": [
      {
        "type":"url",
        "id":"video_urll",
        "label":"Enter video URL"
      }
    ],
    "presets":[
      {
        "category":"video",
        "name":"Featured VIDEO"
      }
    ]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}