<div class="feat_video">
  <video class="video_inner" width="100%" autoplay playsinline muted>
    <source src="https://cdn.shopify.com/videos/c/o/v/08314cf350fc48b6b315a009d20d22cc.mp4" type ="video/mp4">
  </video>
</div>
{% schema %}
  {
    "name": "Featured VIDEO",
    "settings": [
      {
        "type":"url",
        "id":"video_urll",
        "label":"Enter video URL"
      }
    ],
    "presets":[
      {
        "category":"video",
        "name":"Featured VIDEO"
      }
    ]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}