{% if product.metafields.custom.desktop_video != blank %}
  {% assign desktop_video_url = product.metafields.custom.desktop_video | default: "" | strip %}
  {% assign mobile_video_url = product.metafields.custom.mobile_video | default: "" | strip %}
  <style></style>
<div class="pro-video">
  <div class="desk-video">
    <video class="video-desk"width="100%" height="100%" autoplay muted playsinline>
      <source src="{{ desktop_video_url }}" type="video/mp4">
    </video>
  </div>
  <div class="mob-video">
    <video class="video-mob"width="100%" height="100%" autoplay muted playsinline>
      <source src="{{ mobile_video_url }}" type="video/mp4">
    </video>
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Product Video Section",
    "settings": [],
    "presets":[
      {
        "name":"Product Video Section"
      }
    ]
  }
{% endschema %}