<style>
  .dashb-main {
    position: relative;
  }
  .section-5::after {
    width: 260px;
    height: 3px;
    content: "";
    bottom: -10px;
    background: #000;
    position: absolute;
    left: 16%;
  }
  .section-5 {
    position: relative;
  }
  .section-1 {
    max-width: 100%;
    margin: 0 auto;
    background: #000;
  }
  .section-4 {
    border-bottom: 1px solid;
  }
  .section-6 {
    margin-top: 46px;
  }
  .section-6 .main-prod p {
    display: none;
  }
</style>
<div class="dashb-main">
  <div class="section-1">{% render 'rzp-dashb-section-1' %}</div>
  <div class="section-2">{% render 'rzp-dashb-section-2' %}</div>
  <div class="section-3">{% render 'rzp-dashb-leaderboard' %}</div>
  <div class="section-4" id="selling-tips">{% render 'rzp-dashb-accordian' %}</div>
  {% comment %} <div class="section-5">{% render 'rzp-dashb-brb-shop' %}</div> {% endcomment %}
  <div class="section-6" id="buy-more">
    <h2 style="text-align:center">Buy any of the below Sensi Smart3 razor packs.
      The more you buy the more you win!</h2>
    {% render 'rzp-section-2' %}</div>
</div>
