<style>
  .order-tracking-details {
    max-width: 100%;
    width: 800px;
    margin: 0 auto;
  }
  .details-main {
    max-width: 100%;
    position: relative;
    display: block;
  }
  .details-heading h1 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .order-tracking-options {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    width: 500px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-weight: 500;
  }
  .order-tracking-options input {
    cursor: pointer;
  }
  p.search {
    margin: 0;
    text-align: center;
    padding-right: 13px;
  }
  label[for = "orderNumberRadio"] {
    padding-right: 15px;
    padding-left: 6px;
  }
  label[for = "awbNumberRadio"] {
    padding-left: 6px
  }
  .tracker-input-box {
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
</style>
{% assign block = {{ page.id }} %}
<div class="ordder-container">
  <div class="number-step">
    <div class="order-tracking-details">
      <div class="details-main">
        <div class="details-heading">
          <h1>Track your Shipment here</h1>
        </div>
        <div class="order-tracking-options">
          <p class="search">Search by</p>
          <input
            type="radio"
            id="orderNumberRadio"
            name="trackingType"
            value="Order Number"
            checked>
          <label for="orderNumberRadio">Order Number</label>
          <input
            type="radio"
            id="awbNumberRadio"
            name="trackingType"
            value="AWB Number">
          <label for="awbNumberRadio">AWB Number</label>
        </div>
        <div id="tracker-input" class="tracker-input-box">
          <label for="trackingInput" id="tracker-input-label">Enter Order Number:</label>
          <input
            type="text"
            id="trackingInput"
            placeholder="Enter Order Number">
        </div>
      </div>
    </div>
  </div>
  <div class="data-v-{{block}}" id="order-track"></div>
</div>
