<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
  crossorigin="anonymous">
<style>
  .PageContainer {
    background-color: #f6f6f6;
  }
  .ordder-container {
    max-width: 100%;
    background-color: #F6F6F6;
  }
  .order-tracking-details {
    max-width: 100%;
    width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding-bottom: 21px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #e1e1e1;
  }
  .details-main {
    max-width: 100%;
    position: relative;
    display: block;
    padding-left: 15px;
  }
  .details-heading {
    padding-top: 18px;
  }
  .details-heading h1 {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 10px;
  }
  .order-tracking-options {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 500px;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    font-weight: 500;
    padding-bottom: 10px;

  }
  .order-tracking-options input {
    cursor: pointer;
  }
  p.search {
    margin: 0;
    text-align: left;
    padding-right: 13px;
  }
  label[for = "orderNumberRadio"] {
    padding-right: 15px;
    padding-left: 6px;
  }
  label[for = "awbNumberRadio"] {
    padding-left: 6px
  }
  .tracker-input-box {
    max-width: 100%;
    width: 500px;
    text-align: left;
    padding-bottom: 20px;
  }
  .input-box-tracking {
    width: 300px;
    max-width: 100%;
    padding: 10px;
    background: #F9F9F9;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
    color: #D4D4D4;
  }
  .trancker-button {
    max-width: 100%;
    width: 250px;
    background: #FFC629;
    text-align: center;
    padding: 5px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 5px;
  }
  /* Second page CSS */
  div#order-track {
    max-width: 100%;
    width: 1300px;
    margin: 0 auto;
  }
  @media(max-width:450px) {
    .order-tracking-details {
      width: 350px;
      text-align: center;
    }
    .order-tracking-options {
      justify-content: center
    }
    .input-box-tracking {
      width: 310px
    }
    .trancker-button {
      margin-left: 30px
    }
  }
</style>
{% assign block = {{ page.id }} %}
<div class="ordder-container">
  <div class="number-step" style="display: none;">
    <div class="order-tracking-details">
      <div class="details-main">
        <div class="details-heading">
          <h1>Track your Shipment here</h1>
        </div>
        <div class="order-tracking-options">
          <p class="search">Search by</p>
          <input
            type="radio"
            id="orderNumberRadio"
            name="trackingType"
            value="Order Number"
            checked>
          <label for="orderNumberRadio">Order Number</label>
          <input
            type="radio"
            id="awbNumberRadio"
            name="trackingType"
            value="AWB Number">
          <label for="awbNumberRadio">AWB Number</label>
        </div>
        <div id="tracker-input" class="tracker-input-box">
          <!-- <label for="trackingInput" id="tracker-input-label">Enter Order Number:</label> -->
          <br>
          <input
            class="input-box-tracking"
            type="text"
            pattern="^BSC\d{9}$"
            id="trackingInput"
            placeholder="Enter Order Number">
        </div>
        <div class="trancker-button">
          <button onclick="" class="tracker-button">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="data-v-{{block}}" id="order-track">
    <div class="col-12">
      <div class="heading-otp">
        <h2>Hi, {{ customer.name }}</h2>
      </div>
      {% comment %} <div class="otp-timeline">
      {% render 'order-timeline' %}
      </div> {% endcomment %}
      <div class="delivery-deets">
        <div class="deli-flex">
          <div class="deets">
            <div class="dte">
              <h3>Delivered on</h3>
              <h2>09<sup>th</sup>
              </h2>
              <p>Sunday, July 2023</p>
            </div>
            <div class="status">
              <p>Status:</p>
              <h2>DELIVERED</h2>
            </div>
          </div>
          <div class="delhivery"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"></script>
<script>
  function changeLabelAndPlaceholder() {
    var selectedOption = document.querySelector('input[name="trackingType"]:checked').value;
    var label = (selectedOption === "Order Number")
      ? "Enter Order Number:"
      : "Enter AWB Number:";
    var placeholder = (selectedOption === "Order Number")
      ? "Enter Order Number"
      : "Enter AWB Number";
    document.querySelector('label[for="trackingInput"]').textContent = label;
    document.querySelector('#trackingInput').setAttribute('placeholder', placeholder);
  }

// Event listener to detect changes in the selected radio button
  var radioButtons = document.querySelectorAll('input[name="trackingType"]');
  radioButtons.forEach(function(radioButton) {
    radioButton.addEventListener("change", changeLabelAndPlaceholder);
  });
</script>
